# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea
.vscode
*__pycache__/


# full environment file
requirements_full.txt

# secure files
credentials.txt

# model files
models/

# data files
data/